<h1>Enter your Scrabble word</h1>
<form action='/scrabble'>
  <div class="form-group">
    <label for="sentence">Your sentence</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-succcess">Go</button>
</form>
