<!DOCTYPE html>
<html>
  <head>
    <title>scrable score</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1> Your word score is: <%= @sentence %> </h1>
  </body>
</html>
